* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.navigation__header {
  background-color: rgb(34, 34, 34);
  padding-top: 18px;
  padding-bottom: 19px;
}
.main__navigation {
  max-width: 1053px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.nav__links__left {
  padding-right: 41px;
}
.nav__links__right {
  padding-right: 33px;
}
.main__page__header {
  background-color: rgb(241, 228, 230);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  grid-template-rows: 1fr;
}
.main__header__left__image {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}
.main__page__header__right {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-end;
}
.text__rectangle__left {
  margin-right: 16px;
}
.right__block__text__container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
}
.bottom__part__of__right__text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.first__header__top__right__block {
  font-family: Lato;
  font-style: bold;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0%;
  text-align: left;
}
.second__header__top__right__block {
  font-family: Lato;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0%;
  text-align: left;
}
.second__header__top__right__block__right__part {
  color: rgb(241, 109, 127);
}
.main__content {
  max-width: 1140px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.main__content__navigation {
  margin-top: 65px;
  display: grid;
  grid-template-rows: minmax(auto, 260px) minmax(auto, 180px);
  grid-template-columns: repeat(3, minmax(auto, 360px));
  gap: 30px;
  height: 100%;
  margin-bottom: 96px;
}
.middle__navigation__blocks {
  background-color: rgba(33, 22, 22, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease;
}
.middle__navigation__blocks:hover {
  box-shadow: 10px 6px 18px 0px rgba(2, 3, 4, 0.3);
}
.top__row__left__content {
  grid-row: 1;
  grid-column: 1;
  background-image: url(./img/middle_navigation_left_image.svg);
}
.top__row__middle__content {
  grid-row: 1;
  grid-column: 2;
  background-image: url(./img/middle_navigation_middle_image.svg);
}
.top__row__right__content {
  grid-row: 1;
  grid-column: 3;
  background-image: url(./img/middle_navigation_right_image.svg);
}
.bottom__row__content {
  grid-row: 2;
  grid-column: 1 / span 3;
  background-image: url(./img/middle_navigation_bottom_image.svg);
}
.middle__navigation__block__links {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.middle__nav__block__navigation__top__text {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400px;
  color: rgb(255, 255, 255);
}
.middle__nav__block__navigation__bottom__text {
  font-family: Lato;
  font-size: 24px;
  font-weight: 700px;
  color: rgb(241, 109, 127);
}
.catalog__header__main__title {
  color: rgb(34, 34, 34);
  font-family: Lato;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}
.catalog__header__sub__title {
  color: rgb(159, 159, 159);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  margin-bottom: 48px;
}
.catalog {
  margin-bottom: 48.5px;
}
.catalog__grid__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 360px));
  gap: 30px;
  justify-content: center;
}
.catalog__items {
  background-color: rgb(248, 248, 248);
  height: 587px;
}
.catalog__item__2 {
  display: grid;
  grid-template-rows: 420px auto;
}
.image__2__container {
  display: flex;
  background-color: rgb(247, 228, 226);
  justify-content: center;
  height: 100%;
  position: relative;
  transition: opacity 0.3s ease;
}
.catalog__images__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 56, 56, 0.86);
  opacity: 0;
  z-index: 0;
  transition: opacity 0.3s ease;
}
.add__to__basket {
  position: absolute;
  z-index: 1;
  width: 139px;
  height: 44px;
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  margin-top: -22px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.add__to__basket__text {
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.catalog__images__container:hover::after,
.catalog__images__container:hover .add__to__basket {
  opacity: 1;
}
.item__description__title {
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  padding-bottom: 16px;
}
.catalog__images__container {
  height: 420px;
  position: relative;
}
.text__containers {
  padding-left: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  height: auto;
}
.item__description__text {
  color: rgb(93, 93, 93);
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: left;
  padding-bottom: 16px;
}
.price {
  color: rgb(241, 109, 127);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}
.catalog__footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.footer__link {
  width: 212px;
  height: 48px;
  border: 1px solid rgb(255, 106, 106);
  color: rgb(242, 99, 118);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  background-color: white;
  transition: background-color 0.3s ease;
}
.main__footer {
  margin-top: 95px;
}
.footer__top {
  background-color: rgb(34, 34, 36);
  min-height: 341px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.bottom__grid__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 360px));
  grid-template-rows: minmax(134px, auto);
  gap: 30px;
}
.footer__link:hover {
  background-color: rgb(241, 109, 127);
  color: rgb(255, 255, 255);
  transform: scale(1.001);
}
.bottom__top__parts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer__top__icon{
  margin-bottom: 16px;
}
.footer__top__description {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}
.footer__top__title {
  color: rgb(251, 251, 251);
  font-family: Lato;
  font-size: 19.96px;
  font-weight: 400;
  line-height: 24px;
}
.footer__top__text {
  color: rgb(251, 251, 251);
  font-family: Lato;
  font-size: 13.97px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
}
@media (max-width: 1024px) {
  .main__navigation {
    padding-left: 16px;
  }
}
@media (max-width: 800px) {
  .first__header__top__right__block {
    font-size: 44px;
  }
  .second__header__top__right__block {
    font-size: 24px;
  }
  .main__content__navigation {
    margin-top: 65px;
    grid-template-rows: minmax(auto, 167.62px) minmax(auto, 116.09px);
    grid-template-columns: repeat(3, minmax(auto, 232.33px));
    gap: 19.5px;
  }
  .catalog__grid__container {
    gap: 16px;
  }
}
@media (max-width: 600px) {
  .main__page__header {
    grid-template-columns: 1fr;
  }
  .main__header__left__image {
    display: none;
  }
  .main__page__header__right {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    min-height: 363px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .nav__links__right__basket {
    display: none;
  }
  .nav__links__right__lk {
    display: none;
  }
  .main__content__navigation {
    grid-template-columns: 1fr;
    grid-template-rows:
      minmax(auto, 248px) minmax(auto, 248px) minmax(auto, 248px)
      minmax(auto, 111px);
    margin-bottom: 64px;
  }
  .top__row__left__content,
  .top__row__middle__content,
  .top__row__right__content,
  .bottom__row__content {
    grid-column: 1;
    grid-row: auto;
  }
}
@media (max-width: 360px) {
  .catalog__grid__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 300px));
    gap: 30px;
    justify-content: center;
  }
  .catalog__images {
    max-width: 100%;
  }
  .first__header__top__right__block {
    font-size: 12.22vw;
  }
  .second__header__top__right__block {
    font-size: 6.67vw;
  }
}
